/*********************************************
 * CSS overrides
 *********************************************/

.reveal section img {
  border: 0px; 
  xbox-shadow: 0 0 0 0;
  xmax-height: 600px;
}

.reveal .float-right {
  float: right; 
  margin: 0px 0px 15px 15px;
  width: 48%;

}

.reveal div.float-left {
  float: left; 
  margin: 0px 0px 15px 15px;
  width: 48%;

}
