/*********************************************
 * CSS overrides
 *********************************************/

.reveal section img {
  border: 0px; 
  box-shadow: 0 0 0 0;
  max-height: 600px;
}

.reveal img.float-right {
  float: right; 
  margin: 0px 0px 15px 15px;
  width: 50%;

}
