/tmp
/s3patterns.sublime-workspace
/_attic
/web-out
/docs/_site
/ebook/ebook-compiled.md
/ebook/ebook-compiled.tex
/ebook/ebook-epub-compiled.md
/ebook/tmp-appendix.md
/ebook/tmp-chapters.md
/ebook/tmp-introduction.md
