---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content" markdown="1">
    {{ content }}
  </div>

  <div class="bottom-nav">

    {% if page.prev_page_url %}
    <a href="{{ page.prev_page_url | relative_url }}" class="navigation navigation-prev" id="prev-page" title="{{ page.prev_page_title }}"><img src="{{ '/icons/angle-left-b.svg' | relative_url }}" height="40px" class="icon navicon icon-prev" title="{{ page.prev_page_title}}" /></a>
    {% endif %}
    {% if page.next_page_url %}
    <a href="{{ page.next_page_url | relative_url }}}}" class="navigation navigation-next " id="next-page" title="{{ page.next_page_title }}"><img src="{{ '/icons/angle-right-b.svg' | relative_url }}" height="40px" class="icon navicon icon-next" title="{{ page.next_page_title}}" />Read next: {{ page.next_page_title }}</a>
    {% endif %}
  </div>
</article>
