<map name="GraffleExport">
	<area shape=rect coords="720,170,840,240" href="https://${microsite_cname}/design-adaptable-systems.html">
	<area shape=rect coords="720,90,840,160" href="https://${microsite_cname}/enable-autonomy.html">
	<area shape=rect coords="460,170,580,240" href="https://${microsite_cname}/collaborate-on-dependencies.html">
	<area shape=rect coords="590,90,710,160" href="https://${microsite_cname}/manage-the-whole-system.html">
	<area shape=rect coords="460,30,840,80" href="https://${microsite_cname}/evolving-organizations.html">
	<area shape=rect coords="460,250,580,320" href="https://${microsite_cname}/align-flow.html">
	<area shape=rect coords="720,250,840,320" href="https://${microsite_cname}/create-a-pull-system-for-organizational-change.html">
	<area shape=rect coords="460,330,580,400" href="https://${microsite_cname}/driver-mapping.html">
	<area shape=rect coords="590,250,710,320" href="https://${microsite_cname}/open-systems.html">
	<area shape=rect coords="460,90,580,160" href="https://${microsite_cname}/clarify-and-develop-domains.html">
	<area shape=rect coords="590,170,710,240" href="https://${microsite_cname}/clarify-and-develop-strategy.html">
	<area shape=rect coords="880,570,1000,640" href="https://${microsite_cname}/financial-transparency.html">
	<area shape=rect coords="1010,490,1130,560" href="https://${microsite_cname}/invest-in-ongoing-learning.html">
	<area shape=rect coords="1010,570,1130,640" href="https://${microsite_cname}/share-costs-and-gains.html">
	<area shape=rect coords="880,490,1000,560" href="https://${microsite_cname}/involve-those-affected.html">
	<area shape=rect coords="880,650,1000,720" href="https://${microsite_cname}/support-role.html">
	<area shape=rect coords="1140,490,1260,560" href="https://${microsite_cname}/breaking-agreements.html">
	<area shape=rect coords="1140,570,1260,640" href="https://${microsite_cname}/open-salary.html">
	<area shape=rect coords="1010,650,1130,720" href="https://${microsite_cname}/bylaws.html">
	<area shape=rect coords="1140,410,1260,480" href="https://${microsite_cname}/agree-on-values.html">
	<area shape=rect coords="1010,410,1130,480" href="https://${microsite_cname}/adopt-the-seven-principles.html">
	<area shape=rect coords="880,410,1000,480" href="https://${microsite_cname}/artful-participation.html">
	<area shape=rect coords="880,350,1260,400" href="https://${microsite_cname}/enablers-of-co-creation.html">
	<area shape=rect coords="880,90,1000,160" href="https://${microsite_cname}/contract-for-successful-collaboration.html">
	<area shape=rect coords="880,170,1000,240" href="https://${microsite_cname}/describe-deliverables.html">
	<area shape=rect coords="1010,170,1130,240" href="https://${microsite_cname}/evaluation-criteria.html">
	<area shape=rect coords="1140,90,1260,160" href="https://${microsite_cname}/clarify-intended-outcome.html">
	<area shape=rect coords="880,250,1000,320" href="https://${microsite_cname}/logbook-keeper.html">
	<area shape=rect coords="1140,170,1260,240" href="https://${microsite_cname}/logbook.html">
	<area shape=rect coords="1010,90,1130,160" href="https://${microsite_cname}/record-agreements.html">
	<area shape=rect coords="880,30,1260,80" href="https://${microsite_cname}/defining-agreements.html">
	<area shape=rect coords="1300,170,1420,240" href="https://${microsite_cname}/deliver-value-incrementally.html">
	<area shape=rect coords="1300,250,1420,320" href="https://${microsite_cname}/timebox-activities.html">
	<area shape=rect coords="1430,250,1550,320" href="https://${microsite_cname}/coordinator.html">
	<area shape=rect coords="1560,170,1680,240" href="https://${microsite_cname}/limit-work-in-progress.html">
	<area shape=rect coords="1430,170,1550,240" href="https://${microsite_cname}/pull-system-for-work.html">
	<area shape=rect coords="1430,90,1550,160" href="https://${microsite_cname}/prioritize-backlogs.html">
	<area shape=rect coords="1300,90,1420,160" href="https://${microsite_cname}/backlog.html">
	<area shape=rect coords="1560,90,1680,160" href="https://${microsite_cname}/visualize-work.html">
	<area shape=rect coords="1300,30,1680,80" href="https://${microsite_cname}/organizing-work.html">
	<area shape=rect coords="170,170,290,240" href="https://${microsite_cname}/consent-decision-making.html">
	<area shape=rect coords="40,30,420,80" href="https://${microsite_cname}/sense-making-and-decision-making.html">
	<area shape=rect coords="170,330,290,400" href="https://${microsite_cname}/reasoned-decision-making.html">
	<area shape=rect coords="40,330,160,400" href="https://${microsite_cname}/proposal-forming.html">
	<area shape=rect coords="300,330,420,400" href="https://${microsite_cname}/role-selection.html">
	<area shape=rect coords="170,250,290,320" href="https://${microsite_cname}/evaluate-and-evolve-agreements.html">
	<area shape=rect coords="40,250,160,320" href="https://${microsite_cname}/resolve-objections.html">
	<area shape=rect coords="40,170,160,240" href="https://${microsite_cname}/determine-requirements.html">
	<area shape=rect coords="300,250,420,320" href="https://${microsite_cname}/co-create-proposals.html">
	<area shape=rect coords="170,90,290,160" href="https://${microsite_cname}/navigate-via-tension.html">
	<area shape=rect coords="300,170,420,240" href="https://${microsite_cname}/test-arguments-qualify-as-objections.html">
	<area shape=rect coords="40,90,160,160" href="https://${microsite_cname}/respond-to-organizational-drivers.html">
	<area shape=rect coords="300,90,420,160" href="https://${microsite_cname}/describe-organizational-drivers.html">
	<area shape=rect coords="720,490,840,560" href="https://${microsite_cname}/prepare-for-meetings.html">
	<area shape=rect coords="460,570,580,640" href="https://${microsite_cname}/check-in.html">
	<area shape=rect coords="590,650,710,720" href="https://${microsite_cname}/governance-backlog.html">
	<area shape=rect coords="720,570,840,640" href="https://${microsite_cname}/meeting-host.html">
	<area shape=rect coords="590,570,710,640" href="https://${microsite_cname}/evaluate-meetings.html">
	<area shape=rect coords="590,490,710,560" href="https://${microsite_cname}/facilitate-meetings.html">
	<area shape=rect coords="460,490,580,560" href="https://${microsite_cname}/rounds.html">
	<area shape=rect coords="460,430,840,480" href="https://${microsite_cname}/meeting-practices.html">
	<area shape=rect coords="460,650,580,720" href="https://${microsite_cname}/governance-facilitator.html">
	<area shape=rect coords="1300,570,1420,640" href="https://${microsite_cname}/service-circle.html">
	<area shape=rect coords="1560,490,1680,560" href="https://${microsite_cname}/delegate-circle.html">
	<area shape=rect coords="1300,350,1680,400" href="https://${microsite_cname}/building-organizations.html">
	<area shape=rect coords="1560,570,1680,640" href="https://${microsite_cname}/helping-team.html">
	<area shape=rect coords="1430,570,1550,640" href="https://${microsite_cname}/open-team.html">
	<area shape=rect coords="1430,490,1550,560" href="https://${microsite_cname}/representative.html">
	<area shape=rect coords="1300,490,1420,560" href="https://${microsite_cname}/double-linking.html">
	<area shape=rect coords="1560,410,1680,480" href="https://${microsite_cname}/linking.html">
	<area shape=rect coords="1430,410,1550,480" href="https://${microsite_cname}/role.html">
	<area shape=rect coords="1300,410,1420,480" href="https://${microsite_cname}/circle.html">
	<area shape=rect coords="1300,670,1680,720" href="https://${microsite_cname}/bringing-in-s3.html">
	<area shape=rect coords="1300,810,1420,880" href="https://${microsite_cname}/open-space-for-change.html">
	<area shape=rect coords="1560,730,1680,800" href="https://${microsite_cname}/invite-change.html">
	<area shape=rect coords="1430,810,1550,880" href="https://${microsite_cname}/continuous-improvement-of-work-process.html">
	<area shape=rect coords="1300,730,1420,800" href="https://${microsite_cname}/adapt-patterns-to-context.html">
	<area shape=rect coords="1430,730,1550,800" href="https://${microsite_cname}/be-the-change.html">
	<area shape=rect coords="460,750,1260,800" href="https://${microsite_cname}/principles.html">
	<area shape=rect coords="575,810,682,880" href="https://${microsite_cname}/principle-continuous-improvement.html">
	<area shape=rect coords="1153,810,1260,880" href="https://${microsite_cname}/principle-accountability.html">
	<area shape=rect coords="460,810,566,880" href="https://${microsite_cname}/principle-transparency.html">
	<area shape=rect coords="806,810,913,880" href="https://${microsite_cname}/principle-consent.html">
	<area shape=rect coords="1037,810,1144,880" href="https://${microsite_cname}/principle-effectiveness.html">
	<area shape=rect coords="922,810,1028,880" href="https://${microsite_cname}/principle-equivalence.html">
	<area shape=rect coords="691,810,797,880" href="https://${microsite_cname}/principle-empiricism.html">
	<area shape=rect coords="170,570,290,640" href="https://${microsite_cname}/coordination-meeting.html">
	<area shape=rect coords="40,570,160,640" href="https://${microsite_cname}/planning-and-review-meetings.html">
	<area shape=rect coords="300,490,420,560" href="https://${microsite_cname}/daily-standup.html">
	<area shape=rect coords="40,490,160,560" href="https://${microsite_cname}/retrospective.html">
	<area shape=rect coords="170,490,290,560" href="https://${microsite_cname}/governance-meeting.html">
	<area shape=rect coords="40,430,420,480" href="https://${microsite_cname}/meeting-formats.html">
	<area shape=rect coords="300,730,420,800" href="https://${microsite_cname}/development-plan.html">
	<area shape=rect coords="170,730,290,800" href="https://${microsite_cname}/peer-review.html">
	<area shape=rect coords="40,730,160,800" href="https://${microsite_cname}/peer-feedback.html">
	<area shape=rect coords="40,810,160,880" href="https://${microsite_cname}/ask-for-help.html">
	<area shape=rect coords="40,670,420,720" href="https://${microsite_cname}/peer-development.html">
</map>
<img border=0 src="img/pattern-map-72dpi.png" alt="A map with all the patterns in S3" usemap="#GraffleExport">
