defaults:
  # these are available for substitution in templates
  variables:
    # Version of the practical guide (added to all releases)
    version: "v2021-01-12"
    # Language and text direction for Jekyll site and epub
    html-language: "en"
    html-dir: "ltr"

  # File name used for build targets
  target-filename: "S3-practical-guide"

  source: content/src
  structure: config/structure.yaml
  # That must be .po for translations, and .pot for the source language!
  localization: content/localization.pot

  # glossary: yaml file with glossary terms
  glossary: content/glossary.yaml
  # glossary-items: number of glossary items per page (used for deckset and revealjs)
  glossary-items: 20
  # glossary-style: plain:glossary style for ebook builder (plain(default)|footnotes|underline)
  glossary-style: plain

  # target::Target file (for reveal.js and deckset) or folder (for wordpress or jekyll).
  target: ""
  # template: The template to use (deckset, revealjs, and jekyll output)
  template: ""
  # the target format (html, markdown, latex)
  target-format: ""
  # autogenerated prefix for each pattern headline(e.g. "Pattern 1.5: Describe Organizational Drivers")
  pattern-prefix: " Pattern %(chapter)s.%(section)s:"

presets:
  jekyll:
    renderer: jekyll
    target-format: html
    variables:
      # CNAME for GitHub-Page
      microsite-cname: "patterns.sociocracy30.org"
      # URL o the Github project
      github-url: "https://github.com/S3-working-group/s3-practical-guide"
      # URL of the website
      site-url: "https://patterns.sociocracy30.org"

    # build content files
    target: docs/

    templates:
      # main website index.html, 404 and map
      - source: content/website/_templates/index.md
        destination: docs/index.md
        mode: markdown
      - source: content/website/_templates/404.md
        destination: docs/404.md
        mode: copy
      - source: templates/website/pattern-map.html
        destination: docs/_includes/pattern-map.html
      - source: templates/website/map.md
        destination: docs/map.md
        mode: copy
      # layouts for website
      - source: templates/website/_layouts/default.html
        destination: docs/_layouts/default.html
      - source: templates/website/_layouts/plain.html
        destination: docs/_layouts/plain.html
      # includes for website (header contains {{menu}})
      - source: content/website/_includes/footer.html
        destination: docs/_includes/footer.html
      - source: content/website/_includes/header.html
        destination: docs/_includes/header.html
        mode: html
      # other website config files
      - source: templates/website/_config.yml
        destination: docs/_config.yml
      - source: templates/website/CNAME
        destination: docs/CNAME

  all-in-one-jekyll-page:
    # a single-page-version for the website
    renderer: ebook
    template: templates/website/all-in-one-page.md
    target: docs/all.md
    target-format: html
    header-offset: 1

  epub:
    renderer: ebook
    target: tmp/epub-compiled.md
    target-format: epub
    template: templates/epub-header.md
    templates:
        - source: templates/covers/s3-practical-guide-cover-70dpi.png
          destination: tmp/epub-cover.png
          mode: copy
        - source: templates/epub.css
          destination: tmp/epub.css


  supporter-epub:
    # render epub for supporter edition

    # render intro, chapters and appendix to separate md files
    # mdslides build ebook content/structure-supporter-edition.yaml $(SOURCE) tmp/ --glossary=$(GLOSSARY) --section-prefix="$(SECTIONPREFIX)"
    target: tmp/supporter-epub-compiled.md
    template: templates/supporter-edition-master.md

    # prepare and copy template, metadata, CSS and cover
    templates:
      - source: templates/supporter-edition-metadata.yaml
        destination: tmp/supporter-edition-metadata.yaml
      # those were just copied
      - source: templates/epub.css
        destination: tmp/supporter-edition.css
      - source: templates/covers/s3-practical-guide-cover-supporter-edition-70dpi.png
        destination: tmp/supporter-edition-cover.png

  ebook:
    renderer: ebook
    target-format: latex
    target: tmp/ebook-compiled.md
    # template is empty on purpose, because it is not required
    template: ""
    # copy md and LaTeX templates
    templates:
      - source: config/ebook.tex
        destination: tmp/ebook.tex
      - source: config/ebook-style.sty
        destination: tmp/ebook-style.sty

  gitbook:
    renderer: gitbook
    target: gitbook/

  revealjs:
    renderer: revealjs
    # reveal.js config option for RTL languages
    revealjs-rtl: "false"