// ----------------------------------------------------------
// everything that affects the whole page
// ----------------------------------------------------------

/**
 * Basic styling
 */

// @font-face {
//   font-family: "Open Sans";
//   src: url("/fonts/OpenSans-latin.woff2")
//        format("woff2-variations");
//   font-weight: 300 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url("/fonts/OpenSans-greek.woff2")
//        format("woff2-variations");
//   font-weight: 300 800;
//   font-style: normal;
//   unicode-range: U+0370-03FF, U+1F00-1FFF;
//   font-display: swap;
// }

:root {
    --font-sans: "Open Sans", system-ui, -apple-system,
                 "Segoe UI", Roboto, Arial, sans-serif;
}

// :root {
//  --font-sans: "Jost*", system-ui, -apple-system,
//               "Segoe UI", Roboto, Arial, sans-serif;
// }

html {
    font-size: $base-font-size;
}

body {
    font-kerning: normal;
    font-letter-spacing: normal;
    font-optical-sizing: auto; /* important for variable fonts */
    
    font-family: var(--font-sans);
    background-color: $background-color;
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

