// ----------------------------------------------------------
// typography and coloring of header and footer
// ----------------------------------------------------------

.icon {
    &:hover {
        filter: $brand-color-svg;
    }
}

// Headline sizes and spacing

h1 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    line-height: 42px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.01em; // tighter for italics
}

h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.01em; // tighter for italics
}


//
// Site header
// --------------------------------------------------------------------------/**
.site-header {
    a.site-title {
        font-size: 26px;
        font-weight: 300;
        letter-spacing: -1px;

        @include media-breakpoint-down(md) {
            font-size: 20px;
        }

        &,
        &:visited {
            color: $headline-color;
        }
    }
}

//
// Footer
// --------------------------------------------------------------------------
.site-footer {
    border-top: 2px solid $grey-color-light;

    font-size: $small-font-size;
    color: $grey-color;
    a {
        color: lighten($brand-color, 10%);
        &:visited {
            color: lighten($brand-color, 10%);
        }

        &:hover {
            color: $brand-color;
            text-decoration: underline;
        }        
    }

    .contact-list,
    .social-media-list {
        list-style: none;
        padding-left: 0;
    }
}
