/** 
* special styles for the homepage
**/

$hp-box1-color-main:  #45996d !default;
$hp-box2-color-main:  #7f98e5 !default;
$hp-box3-color-main:  #a073bf !default;
$hp-box4-color-main:  #6c797f !default;

.hp-version {
  text-align: right;
  font-size: $small-font-size;
  color: $grey-color;      
}

.homepage-box {
  /* border: 2px solid; */
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2;
}

.homepage-box h2 {
  font-size: $base-font-size * 1.25;
  font-style: italic;
}

.hp-box1 {
  background: rgba($hp-box1-color-main, 0.1);
  border-color: rgba($hp-box1-color-main, 0.2);
  color: darken( $hp-box1-color-main, 15% );
}
.hp-box2 {
  background: rgba($hp-box2-color-main, 0.1);
  border-color: rgba($hp-box2-color-main, 0.2);
  color: darken( $hp-box2-color-main, 15% );
}
.hp-box3 {
  background: rgba($hp-box3-color-main, 0.1);
  border-color: rgba($hp-box3-color-main, 0.2);
  color: darken( $hp-box3-color-main, 15% );
}
.hp-box4 {
  background: rgba($hp-box4-color-main, 0.1);
  border-color: rgba($hp-box4-color-main, 0.2);
  color: darken( $hp-box4-color-main, 15% );
}


