// ----------------------------------------------------------
// layout of the page (including behaviours)
// ----------------------------------------------------------

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

//
// Site header
// --------------------------------------------------------------------------/**
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 2px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;

    .site-title {
        //float: left;
    }

    .header-title, .header-icons {
        margin-bottom: $spacing-unit * 0.5;
        padding-top: $spacing-unit * 0.5;
        @include media-breakpoint-down(md) {
            margin-bottom: $spacing-unit * 0.25;
            padding-top: 0px;

        }
    }
    img.icon {
        width: 22px;
        height: 22px;
        vertical-align: left;        
    }
    .header-title {
        float: left;
    }

    .header-icons {
        vertical-align: bottom;
        white-space: nowrap;
        float: right;
        text-align: right;
        @include media-breakpoint-down(md) {
            text-align: left;
            min-width: 300px;
        }
        a img.icon { 
            height: 25px;
        }     
    }
}


// see: menu-placement.scss for positioning menu buttons

.main-nav {
  overflow: visible;
  a img {
    height: 22px;
  }
}

//
// Desktop behavior (>= lg)
// for site-body, main-nav and content-container
// --------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .site-body {
    display: flex;
    flex-direction: row;
  }
  .main-nav {
    flex: 0 0 $nav-width;   /* your sidebar width */
    max-width: $nav-width;
  }
  #main-menu {
    display: block;
  }
  .content-container {
    flex: 1 1 auto;
  }
}

//
// Mobile behavior (< lg)
// for site-body, main-nav and content-container
// --------------------------------------------------------------------------
@include media-breakpoint-down(md) {
  .site-body {
    display: flex;
    flex-direction: column;
  }

  .main-nav {
    width: 100%;
    flex: 0 0 auto;
  }
  /* menu is normal flow, above content */
  #main-menu {
    display: none;
    width: 100%;
  }
  header.site-header:has(#main-menu-state:checked)
  + .site-body
  .main-nav
  #main-menu {
    display: block;
  }

}


//
// Content
// --------------------------------------------------------------------------
.content-container {
    flex: 1 1 auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
}


//
// Article (inside content)
// --------------------------------------------------------------------------


article.post {
    max-width: $content-max-width;
    margin-top: $spacing-unit * 0.5;
    margin-left: auto;
    margin-right: auto;

    .bottom-nav {
        .navigation {
            height: 40px;
            margin-top: $spacing-unit * 0.5;
            display: block;        
            white-space:nowrap;    
        }
        .navigation-prev {
            float: left;        }
        .navigation-next {
            float: left;            
        }
        img.icon-prev {
            vertical-align: left;
            padding-right: $spacing-unit * 0.5;
            height: 40px;
        }
        img.icon-next {
            vertical-align: left;
            padding-left: $spacing-unit * 0.5;
            height: 40px;
        }
    }
}

//
// Footer
// --------------------------------------------------------------------------
.site-footer {
    margin-top: $spacing-unit * 0.5;
    .footer-top {
        padding-top: $spacing-unit * 0.5;
        padding-bottom: $spacing-unit * 0.5;
    }
    .footer-col-bottom-right {
        text-align: right;
        @include media-breakpoint-down(lg) {
            text-align: left;
            min-width: 300px;
        }
    }
}


//
// Pattern Map
// --------------------------------------------------------------------------

.map-overlay {
  position: fixed;
  inset: 0;
  z-index: 15050; /* > navbar */
}
.map-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.6);
}
.map-panel {
  position: relative;
  margin: 5vh auto;
  max-width: 90vw;
  max-height: 90vh;
}
.map-panel img {
  max-width: 100%;
  height: auto;
  display: block;
}
