// placement of smartmenu

@media (min-width: 768px) {
    #main-menu {
        float: left;
        width: 12em;
    }
    .sm-mint.sm-vertical {
        border-bottom: 0;
        border-right: 2px solid #9aadeb;
        margin-right: 20px;
    }
}

