/* ----------------------------------------------------------
   SmartMenus placement (button etc. only)
---------------------------------------------------------- */

@include media-breakpoint-up(lg) {
  .sm-mint.sm-vertical {
    border-right: 2px solid #9aadeb;
    margin-right: 20px;
  }
}



/* ----------------------------------------------------------
   Menu toggle button (HEADER ONLY)
---------------------------------------------------------- */

.main-menu-btn {
  display: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  margin-bottom: 0px;

  @include media-breakpoint-down(md) {
    // Mobile behavior (< lg)
    display: inline-block;
  }
  @include media-breakpoint-up(lg) {
    // Desktop behavior (>= lg)
    display: none;
  }
}

/* hamburger icon */
.main-menu-btn-icon,
.main-menu-btn-icon::before,
.main-menu-btn-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background: #bbb;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}

.main-menu-btn-icon::before {
  content: '';
  transform: translate(-50%, -9px);
}

.main-menu-btn-icon::after {
  content: '';
  transform: translate(-50%, 7px);
}

/* x state */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon::before {
  transform: translate(-50%, 0) rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon::after {
  transform: translate(-50%, 0) rotate(45deg);
}

/* ----------------------------------------------------------
   Checkbox (hidden but accessible)
---------------------------------------------------------- */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}

/* ----------------------------------------------------------
   Accessibility helper
---------------------------------------------------------- */

.menu-hint-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
