.zoomify { 
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.zoomify.zoomed {
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
	// don't set padding or margin, not even to '0'
	// that breaks the zoom!
	//padding: none; // or set to invalid value to clear them 
	//margin: none; //  or set to invalid value to clear them
	border: none;
	border-radius: 0;
	box-shadow: none;
	position: relative;
	z-index: 15001; // must be above menu
}
.zoomify-shadow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 15000; // must be above menu
	background: rgba(0, 0, 0 , .3);
	opacity: 0;
}
.zoomify-shadow.zoomed { 
	opacity: 1;
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}
