<header class="site-header">
  <div class="wrapper">
    <p><a class="site-title" href="\{\{ site.baseurl \}\}/">\{\{ site.title \}\}</a></p>
  </div>
    <nav id="main-nav">
      <ul id="main-menu" class="sm sm-mint">
        <li><a href="index.html">Home</a></li>
        {{html-menu}}
        <li><a href="#">Tools</a>
          <ul class="mega-menu">
            <li><a href="pattern-index.html">Pattern Index</a></li>
            <li><a href="glossary.html">Glossary</a></li>
            <li><a href="changelog.html">Changelog</a></li>
            <li><a href="https://sociocracy30.org">Go to main S3 site</a></li>
            <li><a href="map.html" ><img src="img/map.png" title="Use the pattern map to jump to another pattern." /> Pattern Map</a></li>
            <li><span id="annotate-span"><a href="" id="annotate-link"><img src="img/feedback.png" title="Annotate this page with hypothes.is. Click here, wait for the page to reload, then you can highlight text and add public comments. You will need to set up a free account at hypothes.is." />Annotate Page</a></span></li>
          </ul>
        </li>
      </ul>
    </nav>
</header>
