<!-- the actual menu -->
<ul id="main-menu" class="sm sm-mint sm-vertical">
  <li><a href="index.html">Home</a></li>
  
  {{html-menu}}
  
  <li><a href="#">Quick Links</a>
    <ul class="mega-menu">
      <li><a href="\{\{ 'index.html' | relative_url \}\}">Homepage</a></li>
      <li><a href="\{\{ 'glossary.html' | relative_url \}\}">Glossary</a></li>
      <li><a href="\{\{ 'changelog.html' | relative_url \}\}">Changelog</a></li>
      <li><a href="\{\{ 'pattern-index.html' | relative_url \}\}" title="An alphabetical index of all patterns."><img src="\{\{ 'icons/list-ul.svg' | relative_url \}\}" class="icon" alt="site index" />&nbsp;Pattern Index</a></li>
      <li><a href="https://sociocracy30.org/resources/#se-practical-guide">Downloads</a></li>
      <li><a href="https://sociocracy30.org">Sociocracy 3.0 site</a></li>
      <li><a href="https://academy.sociocracy30.org/">S3 Academy</a></li>
      <li><a href="https://payment.sociocracy30.org/donation">Donations</a></li>
    </ul>
  </li>
</ul>
