<div class="menu-wrapper">
    <nav id="main-nav">
      <!-- Sample menu definition -->
      <ul id="main-menu" class="sm sm-mint">
        <li><a href="index.html">Home</a></li>
        {{html-menu}}
        <li><a href="#">Tools</a>
          <ul class="mega-menu">
            <li>
              <!-- The mega drop down contents -->
              <div style="width:400px;max-width:100%;">
                <div style="padding:5px 24px;">
                  <p>TODO: add tools and glossary here.</p>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</div>
